 <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
                <li class="nav-item">
                  <a href="/" class="nav-link active">
                    <span class="d-inline-block mr-3">O projekcie</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/aktualny" class="nav-link">
                    <span class="d-inline-block mr-3">Aktualny kurs złota</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/wstaw" class="nav-link">
                    <span class="d-inline-block mr-3">Zapis do bazy</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/pokaz" class="nav-link">
                    <span class="d-inline-block mr-3">Dane archiwalne</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/wykres" class="nav-link">
                    <span class="d-inline-block mr-3">Wykres</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
              </ul>